openapi: 3.1.0
info:
  title: API Reference attributions Organizations API
  version: 1.0.0
servers:
- url: https://rewards-api.getkard.com
  description: Production
- url: https://test-rewards-api.getkard.com
  description: Sandbox
tags:
- name: Organizations
paths:
  /v2/issuer:
    get:
      operationId: get
      summary: Get
      description: Retrieve organization details for the authenticated issuer
      tags:
      - Organizations
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization resource with limited attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organizations:ExternalOrganizationResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons:ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons:ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons:ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons:ErrorResponse'
components:
  schemas:
    type_commons:ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          description: A JSON pointer to the value in the request document that caused the error
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error
        header:
          type: string
          description: A string indicating the name of a single request header which caused the error
      title: ErrorSource
    type_commons:ErrorObject:
      type: object
      properties:
        status:
          type: string
          description: Status code returned from the request
        title:
          type: string
          description: Name of error
        detail:
          type: string
          description: Description of the specific occurance of the error
        source:
          $ref: '#/components/schemas/type_commons:ErrorSource'
          description: An object containing a reference to the primary source of the error
        id:
          type: string
          description: The id of the resource which caused the error. Always returned for multi-status errors.
      required:
      - status
      - title
      - detail
      title: ErrorObject
    type_internal-organizations:EnrolledReward:
      type: string
      enum:
      - CARDLINKED
      - AFFILIATE
      description: Rewards programs an organization is enrolled in
      title: EnrolledReward
    type_organizations:ExternalOrganizationResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - organization
        id:
          type: string
          description: Unique identifier of the organization
        attributes:
          $ref: '#/components/schemas/type_organizations:ExternalOrganizationAttributes'
      required:
      - type
      - id
      - attributes
      description: External organization resource response
      title: ExternalOrganizationResponse
    type_commons:CardNetwork:
      type: string
      enum:
      - VISA
      - MASTERCARD
      - AMERICANEXPRESS
      - DISCOVER
      description: Supported card networks
      title: CardNetwork
    type_organizations:ExternalOrganizationAttributes:
      type: object
      properties:
        name:
          type: string
          description: Name of the organization (uppercase, no spaces)
        enrolledRewards:
          type: array
          items:
            $ref: '#/components/schemas/type_internal-organizations:EnrolledReward'
          description: Rewards programs the organization is enrolled in
        cardNetworks:
          type: array
          items:
            $ref: '#/components/schemas/type_commons:CardNetwork'
          description: Card networks supported by the organization
        bins:
          type: array
          items:
            type: string
          description: Bank Identification Numbers for the organization
        affiliateCommissionSplit:
          type: number
          format: double
          description: Affiliate commission split percentage
        cardlinkedCommissionSplit:
          type: number
          format: double
          description: Cardlinked commission split percentage
        cardlinkedUserCommissionSplit:
          type: number
          format: double
          description: Cardlinked user commission split percentage
      required:
      - name
      - enrolledRewards
      - cardNetworks
      - bins
      - affiliateCommissionSplit
      - cardlinkedCommissionSplit
      - cardlinkedUserCommissionSplit
      description: Limited set of organization attributes exposed to external consumers
      title: ExternalOrganizationAttributes
    type_commons:ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_commons:ErrorObject'
      required:
      - errors
      title: ErrorResponse
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
