openapi: 3.2.0
info:
  title: Reference notifications > Subscriptions API
  version: 1.0.0
servers:
- url: https://rewards-api.getkard.com
  description: Production
- url: https://test-rewards-api.getkard.com
  description: Sandbox
tags:
- name: notifications > Subscriptions
paths:
  /v2/issuers/{organizationId}/subscriptions:
    get:
      operationId: get
      summary: Get Subscriptions
      description: 'Call this endpoint to fetch the subscriptions of the provided issuer.


        Required scopes: `notifications:read`'
      tags:
      - notifications > Subscriptions
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: filter[eventName]
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_NotificationType'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionsResponseObject'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
    post:
      operationId: create
      summary: Create Subscription
      description: 'Call this endpoint to subscribe to notification events.


        Required scopes: `notifications:write`'
      tags:
      - notifications > Subscriptions
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Response with status 201
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_notifications_subscriptions_CreateSubscriptionsResponseObject'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionRequestBody'
  /v2/issuers/{organizationId}/subscriptions/{subscriptionId}:
    patch:
      operationId: update
      summary: Update Subscription
      description: 'Call this endpoint to update existing notification subscriptions.


        Required scopes: `notifications:write`'
      tags:
      - notifications > Subscriptions
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: subscriptionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_SubscriptionId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_notifications_subscriptions_UpdateSubscriptionsResponseObject'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_notifications_subscriptions_UpdateSubscriptionRequestBody'
components:
  schemas:
    type_notifications_subscriptions_CreateSubscriptionUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - subscription
            description: 'Discriminator value: subscription'
          attributes:
            $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionRequestAttributes'
          id:
            type: string
            description: The ID of the subscription
        required:
        - type
        - attributes
        - id
      discriminator:
        propertyName: type
      title: CreateSubscriptionUnion
    type_commons_NotificationType:
      type: string
      enum:
      - earnedRewardApproved
      - earnedRewardSettled
      - earnedRewardRejected
      - validTransaction
      - failedTransaction
      - clawback
      - auditUpdate
      - fileProcessingResult
      - pushNotificationPlacementFile
      - emailNotificationPlacementFile
      title: NotificationType
    type_notifications_subscriptions_UpdateSubscriptionRequestUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - subscription
            description: 'Discriminator value: subscription'
          attributes:
            $ref: '#/components/schemas/type_notifications_subscriptions_UpdateSubscriptionRequestAttributes'
        required:
        - type
        - attributes
      discriminator:
        propertyName: type
      title: UpdateSubscriptionRequestUnion
    type_notifications_subscriptions_SubscriptionsResponseObject:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionUnion'
      required:
      - data
      title: SubscriptionsResponseObject
    type_notifications_subscriptions_UpdateSubscriptionRequestAttributes:
      type: object
      properties:
        eventName:
          $ref: '#/components/schemas/type_commons_NotificationType'
          description: The name of the event for the subscription
        webhookUrl:
          type: string
          description: The URL where notifications will be delivered
        enabled:
          type: boolean
          description: Indicates whether the subscription is active
      title: UpdateSubscriptionRequestAttributes
    type_notifications_subscriptions_SubscriptionRequestAttributes:
      type: object
      properties:
        eventName:
          $ref: '#/components/schemas/type_commons_NotificationType'
          description: The name of the event for the subscription
        webhookUrl:
          type: string
          description: The URL where notifications will be delivered
        enabled:
          type: boolean
          description: Indicates whether the subscription is active
      required:
      - eventName
      - webhookUrl
      - enabled
      title: SubscriptionRequestAttributes
    type_notifications_subscriptions_UpdateSubscriptionsResponseObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_notifications_subscriptions_CreateSubscriptionUnion'
      required:
      - data
      title: UpdateSubscriptionsResponseObject
    type_commons_ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          description: A JSON pointer to the value in the request document that caused the error
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error
        header:
          type: string
          description: A string indicating the name of a single request header which caused the error
      title: ErrorSource
    type_notifications_subscriptions_SubscriptionUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - subscription
            description: 'Discriminator value: subscription'
          id:
            type: string
            description: The ID of the subscription
          attributes:
            $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionAttributes'
        required:
        - type
        - id
        - attributes
      discriminator:
        propertyName: type
      title: SubscriptionUnion
    type_commons_SubscriptionId:
      type: string
      description: The ID of the subscription
      title: SubscriptionId
    type_commons_OrganizationId:
      type: string
      description: Your issuer organization ID, provided by Kard
      title: OrganizationId
    type_notifications_subscriptions_SubscriptionAttributes:
      type: object
      properties:
        eventName:
          $ref: '#/components/schemas/type_commons_NotificationType'
          description: The name of the event
        webhookUrl:
          type: string
          description: The URL to which notifications will be sent
        enabled:
          type: boolean
          description: Indicates whether the subscription is active
      required:
      - eventName
      - webhookUrl
      - enabled
      title: SubscriptionAttributes
    type_commons_ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ErrorObject'
      required:
      - errors
      title: ErrorResponse
    type_notifications_subscriptions_CreateSubscriptionsResponseObject:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_notifications_subscriptions_CreateSubscriptionUnion'
      required:
      - data
      title: CreateSubscriptionsResponseObject
    type_commons_ErrorObject:
      type: object
      properties:
        status:
          type: string
          description: Status code returned from the request
        title:
          type: string
          description: Name of error
        detail:
          type: string
          description: Description of the specific occurance of the error
        source:
          $ref: '#/components/schemas/type_commons_ErrorSource'
          description: An object containing a reference to the primary source of the error
        id:
          type: string
          description: The id of the resource which caused the error. Always returned for multi-status errors.
      required:
      - status
      - title
      - detail
      title: ErrorObject
    type_notifications_subscriptions_SubscriptionRequestUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - subscription
            description: 'Discriminator value: subscription'
          attributes:
            $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionRequestAttributes'
        required:
        - type
        - attributes
      discriminator:
        propertyName: type
      title: SubscriptionRequestUnion
    type_notifications_subscriptions_SubscriptionRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_notifications_subscriptions_SubscriptionRequestUnion'
      required:
      - data
      title: SubscriptionRequestBody
    type_notifications_subscriptions_UpdateSubscriptionRequestBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_notifications_subscriptions_UpdateSubscriptionRequestUnion'
      required:
      - data
      title: UpdateSubscriptionRequestBody
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
