openapi: 3.2.0
info:
  title: Reference Organizations > Children API
  version: 1.0.0
servers:
- url: https://rewards-api.getkard.com
  description: Production
- url: https://test-rewards-api.getkard.com
  description: Sandbox
tags:
- name: Organizations > Children
paths:
  /v2/issuers/{organizationId}/children:
    get:
      operationId: list
      summary: List
      description: List child organizations belonging to the authenticated issuer
      tags:
      - Organizations > Children
      parameters:
      - name: organizationId
        in: path
        description: Unique identifier of the parent organization
        required: true
        schema:
          type: string
      - name: page[after]
        in: query
        description: Cursor value for the next page of results
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: Maximum number of records to return [1 - 200] (default = 200)
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of child organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organizations_children_ChildOrganizationListResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
    post:
      operationId: create
      summary: Create
      description: Create a child organization by cloning the parent and overriding specified fields. An 8-digit numeric ID is generated automatically. The name is required, must contain at least one letter, and may contain only letters and spaces.
      tags:
      - Organizations > Children
      parameters:
      - name: organizationId
        in: path
        description: Unique identifier of the parent organization
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created child organization resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organizations_children_ChildOrganizationResponse'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
      requestBody:
        description: Child organization data for creation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organizations_children_CreateChildRequestBody'
  /v2/issuers/{organizationId}/children/{childId}:
    get:
      operationId: get
      summary: Get
      description: Retrieve a specific child organization
      tags:
      - Organizations > Children
      parameters:
      - name: organizationId
        in: path
        description: Unique identifier of the parent organization
        required: true
        schema:
          type: string
      - name: childId
        in: path
        description: Unique identifier of the child organization
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Child organization resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organizations_children_ChildOrganizationResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
    patch:
      operationId: update
      summary: Update
      description: Update a child organization. Only the name can be changed.
      tags:
      - Organizations > Children
      parameters:
      - name: organizationId
        in: path
        description: Unique identifier of the parent organization
        required: true
        schema:
          type: string
      - name: childId
        in: path
        description: Unique identifier of the child organization
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated child organization resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organizations_children_ChildOrganizationResponse'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
      requestBody:
        description: Child organization data for update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organizations_children_UpdateChildRequestBody'
    delete:
      operationId: delete
      summary: Delete
      description: Delete a child organization
      tags:
      - Organizations > Children
      parameters:
      - name: organizationId
        in: path
        description: Unique identifier of the parent organization
        required: true
        schema:
          type: string
      - name: childId
        in: path
        description: Unique identifier of the child organization
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_internal-organizations_DeleteResourceResponse'
        '401':
          description: Error response with status 401
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_ErrorResponse'
components:
  schemas:
    type_commons_EmptyObject:
      type: object
      properties: {}
      title: EmptyObject
    type_organizations_children_CreateChildRequestData:
      type: object
      properties:
        type:
          type: string
          enum:
          - organization
          description: Resource type identifier
        attributes:
          $ref: '#/components/schemas/type_organizations_children_CreateChildAttributes'
          description: Child organization attributes for creation
      required:
      - type
      - attributes
      description: Child organization data structure for creation
      title: CreateChildRequestData
    type_organizations_children_UpdateChildRequestData:
      type: object
      properties:
        type:
          type: string
          enum:
          - organization
          description: Resource type identifier
        attributes:
          $ref: '#/components/schemas/type_organizations_children_UpdateChildAttributes'
          description: Child organization attributes for update
      required:
      - type
      - attributes
      description: Child organization data structure for update
      title: UpdateChildRequestData
    type_organizations_children_UpdateChildAttributes:
      type: object
      properties:
        name:
          type: string
          description: New name for the child organization (at least one letter; letters and spaces only)
        externalId:
          type: string
          description: External identifier for the child organization
        bins:
          type: array
          items:
            type: string
          description: Bank Identification Numbers for the child organization
      description: Attributes for updating a child organization. All fields are optional; only provided fields are changed.
      title: UpdateChildAttributes
    type_organizations_children_CreateChildAttributes:
      type: object
      properties:
        name:
          type: string
          description: Name of the child organization (at least one letter; letters and spaces only)
        externalId:
          type: string
          description: External identifier for the child organization
        bins:
          type: array
          items:
            type: string
          description: Bank Identification Numbers for the child organization
      required:
      - name
      description: Attributes for creating a child organization. Only name is required. All other fields are optional and default to the parent organization's values.
      title: CreateChildAttributes
    type_commons_ErrorObject:
      type: object
      properties:
        status:
          type: string
          description: Status code returned from the request
        title:
          type: string
          description: Name of error
        detail:
          type: string
          description: Description of the specific occurance of the error
        source:
          $ref: '#/components/schemas/type_commons_ErrorSource'
          description: An object containing a reference to the primary source of the error
        id:
          type: string
          description: The id of the resource which caused the error. Always returned for multi-status errors.
      required:
      - status
      - title
      - detail
      title: ErrorObject
    type_organizations_children_ChildOrganizationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_organizations_children_ChildOrganizationResponse'
          description: Array of child organization resources
        links:
          $ref: '#/components/schemas/type_commons_Links'
        meta:
          $ref: '#/components/schemas/type_internal-organizations_OrganizationPaginationMetadata'
          description: Pagination metadata
      required:
      - data
      description: Paginated list of child organizations
      title: ChildOrganizationListResponse
    type_internal-organizations_OrganizationPaginationMetadata:
      type: object
      properties:
        pageSize:
          type: integer
          description: Number of items per page
        hasNextPage:
          type: boolean
          description: Whether more pages are available
      required:
      - pageSize
      - hasNextPage
      description: Pagination metadata for organization list responses
      title: OrganizationPaginationMetadata
    type_organizations_children_ChildOrganizationResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - organization
        id:
          type: string
          description: Unique identifier of the child organization
        attributes:
          $ref: '#/components/schemas/type_organizations_children_ChildOrganizationAttributes'
      required:
      - type
      - id
      - attributes
      description: Child organization resource response
      title: ChildOrganizationResponse
    type_commons_ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ErrorObject'
      required:
      - errors
      title: ErrorResponse
    type_organizations_children_CreateChildRequestBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_organizations_children_CreateChildRequestData'
          description: Child organization data for creation
      required:
      - data
      description: Request body for creating a child organization
      title: CreateChildRequestBody
    type_commons_Links:
      type: object
      properties:
        self:
          type: string
        prev:
          type: string
        next:
          type: string
      required:
      - self
      description: Related links to the API call
      title: Links
    type_organizations_children_UpdateChildRequestBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_organizations_children_UpdateChildRequestData'
          description: Child organization data for update
      required:
      - data
      description: Request body for updating a child organization
      title: UpdateChildRequestBody
    type_internal-organizations_DeleteResourceResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_internal-organizations_DeleteResourceData'
      required:
      - data
      description: Response returned after deleting a resource
      title: DeleteResourceResponse
    type_internal-organizations_DeleteResourceData:
      type: object
      properties:
        type:
          type: string
          description: Resource type identifier
        id:
          type: string
          description: ID of the deleted resource
        attributes:
          $ref: '#/components/schemas/type_commons_EmptyObject'
      required:
      - type
      - id
      - attributes
      description: Deleted resource stub
      title: DeleteResourceData
    type_organizations_children_ChildOrganizationAttributes:
      type: object
      properties:
        name:
          type: string
          description: Name of the child organization (at least one letter; letters and spaces only)
        externalId:
          type: string
          description: External identifier for the child organization
        bins:
          type: array
          items:
            type: string
          description: Bank Identification Numbers for the child organization
      required:
      - name
      - bins
      description: Limited set of child organization attributes exposed to external consumers
      title: ChildOrganizationAttributes
    type_commons_ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          description: A JSON pointer to the value in the request document that caused the error
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error
        header:
          type: string
          description: A string indicating the name of a single request header which caused the error
      title: ErrorSource
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
