openapi: 3.1.0
info:
  title: API Reference attributions Ping API
  version: 1.0.0
servers:
- url: https://rewards-api.getkard.com
  description: Production
- url: https://test-rewards-api.getkard.com
  description: Sandbox
tags:
- name: Ping
paths:
  /v2/ping:
    get:
      operationId: ping
      summary: Ping
      description: Call this endpoint to verify network connectivity and service availability.
      tags:
      - Ping
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_ping:PingResponseObject'
        '403':
          description: If the network is blocked and the service cannot be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_ping:NetworkBlockedErrorBody'
components:
  schemas:
    type_ping:PingResponseObject:
      type: object
      properties:
        message:
          type: string
          description: A message indicating the status of the ping.
        status:
          type: string
          description: The status of the ping.
        timestamp:
          type: string
          description: The timestamp of the ping.
      required:
      - message
      - status
      - timestamp
      description: Response indicating the status of the ping.
      title: PingResponseObject
    type_ping:NetworkBlockedErrorBody:
      type: object
      properties:
        message:
          type: string
          description: A message indicating that the network is blocked.
      required:
      - message
      description: Error response indicating that the network is blocked.
      title: NetworkBlockedErrorBody
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
